body {
  font-family: cochin;
  background-size: 1400px;
  background-color: white;
  font-size: 17px;
  color: black;
  margin:0;
}
p{
    margin:0;
}
.about {
  color: black;
  font-size: 19px;
  text-shadow: 0px 0px 0px black;
  font-weight: bold;
}
#Title {
  color: black;
  font-weight: bold;
}

a{
  color:#013CBB;
}
.imgDegreeContainer{
  justify-content: center;
  align-content: center;
}
.aboutTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size:35px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.resumeTitle{
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size:35px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.subTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size:25px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.index{
margin-top: 15px;
}

.contactLink{
  justify-content: center
}

#subTitle {
  color: #cc2326 !important;
  text-shadow: 1px 0px 1px #dc2a73;
  font-weight: bold;
  font-family: cursive;
  font-size:25px;
  padding-top: 55px;
  padding-bottom: 8px;
}

.slideanim {
  visibility: hidden;
}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

.projectDetailsList{
  padding-left: 19px;
  list-style-type:square;
  margin-top: 5px;
}

.languages{
  font-weight: 400;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.mainContainer{
    display: flex;
    /* flex:1; */
    flex-direction: row;
}
.contentContainer{
    height: 100vh;
    width:70vw;
   
}
.content{
    /* background-color: darkred; */
    height: 100vh;
    margin-left: 11vw;
    margin-right: 8vw;
    line-height: 1.5;
}
.legend{
    /* background-color: darkslategrey; */
    height: 100vh;
    width:30vw;  
    position:fixed;
    left:68vw;
}
.legendStrip{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../assets/index_background.jpg");
    margin-left: 2vw;
    margin-right: 2vw;
    color:white;
}

.legendStripContent{
  height: 100vh;
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}